<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode>true</interactiveMode>
    <offline>false</offline>

    <servers>
        <server>
            <id>my.datomic.com</id>
            <username>rondon.sarnik@gmail.com</username>
            <password>7eef0fde-5268-40c3-9f5f-36525bd8a4b2</password>
        </server>
    </servers>

</settings>